.nav {
    .row {
        flex-direction: row;
    }
    .logo {
        margin: 1.1rem 0;
        color: var(--color-primary);
    }

    i {
        font-size: 2.3rem;
        display: none;
    }

    .menu {
        display: flex;
        align-items: center;

        &__item {
            list-style: none;

            &:not(:last-child) {
                margin-right: 4rem;
            }
        }

        &__link {
            color: var(--color-primary);

            &:hover {
                color: var(--color-secondary);
                transition: .3s ease;
            }
        }

        .active {
            position: relative;
        }

        .active::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: var(--color-primary);
            top: 100%;
            left: 0;
        }
    }
}